<div class="w-max m-auto">
	<p class="text-8xl text-center font-bold"><%= @number %></p>
	<button class="p-3 bg-blue-500 text-lg font-bold text-white rounded-md hover:bg-blue-400" phx-click="inc">Increment</button>
	<button class="p-3 bg-red-500 text-lg font-bold text-white rounded-md hover:bg-red-400" phx-click="dec">Decrement</button>
</div>